#fillTable,#nextTen,#previousTen,#nextTenTwo,#previousTenTwo {
    padding: 10px;
    font-size: 19px;
    border: 3px solid black;
    border-radius: 10px;
    background-color:#9c88ff;
    color: #f5f6fa;
}

#fillTable:hover, #nextTen:hover,#previousTen:hover,#nextTenTwo:hover,#previousTenTwo:hover {
    cursor: pointer;
    background-color:#543ccd ;
    color: #fbfbfc;
}


table {
    font-size: 25px;
    color: #353b48;
    border: 3px solid #9c88ff ;
    display: none;
}

thead {
    color:#2f3640;
    background-color: #fbc531;
}

th {
    border: 3px solid #9c88ff;
    padding: 3px 15px;
    background-color: #fbc531;
}

td {
    background-color: #faeabe;
    padding: 3px;
}

#nextTen, #previousTen, #nextTenTwo,#previousTenTwo  {
    display: none;
    margin-inline: 10px;
}

.btns {
    display: flex;
    margin-top: 10px;
}